<h2>Autocomplete</h2>
<div class="width-33">
	<div class="">
		<label for="searchService" class="">Search your element</label>
		<input type="text" ng-keyup="navigate($event)" id="searchService" name="searchService" ng-model="searchService" class="autocomplete_input" maxlength="50"/>
		<div class="autocomplete_select hideElement"> 
			<div class="autocompleteItem display_box" ng-repeat="item in services | filter : searchService" ng-click="addSelectItem(item)">{{item.value}}-{{item.id}}
			</div>
		</div>
	</div>
</div>