.hideElement{
	display: none;
}

.autocomplete-item{
    padding: 0.7em 0.5em 0.5em 0.5em;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.autocomplete-input, .autocomplete-list{
    width: 100%;
}

.display_box_hover, .display_box:hover{
    background:#3b5998;
    color:#FFFFFF;
}
